<mat-dialog-content class="shipment-container">
    <div class="icon-section">
        <img src="./assets/images/image22.png" alt="Paquetes" class="package-icon" />
    </div>

    <div class="details-section">

        <div class="form-row">
            <div class="info-box full-width">
                Peso total del envío (kg): 25
            </div>
        </div>

        <div class="form-row">
            <div class="info-box full-width">
                Descripción del contenido: Electrónicos
            </div>
        </div>

        <div class="form-row">
            <div class="info-box">
                Cantidad de paquetes: 5
            </div>
        </div>

        <div class="form-row">
            <div class="info-box">
                Alto: 50 cm
            </div>
        </div>

        <div class="form-row">
            <div class="info-box">
                Largo: 100 cm
            </div>
        </div>

        <div class="form-row">
            <div class="info-box">
                Ancho: 30 cm
            </div>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button color="primary" (click)="closeDialog()">Cerrar</button>
</mat-dialog-actions>