<div class="register-container">
    <div class="form-card">
        <!-- Ícono de Cámara -->
        <div class="icon-container" (click)="triggerFileInput()">
            <img [src]="imagePreview || '/assets/image37.png'" alt="Upload Image" class="icon" />
        </div>
        <input type="file" #fileInput accept="image/*" (change)="onFileSelected($event)" hidden />


        <!-- Formulario -->
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <mat-form-field appearance="outline" class="input-field">
                    <mat-label>Correo electrónico</mat-label>
                    <input matInput type="email" formControlName="email" placeholder="Correo electrónico" />
                </mat-form-field>

                <mat-form-field appearance="outline" class="input-field">
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" formControlName="password" placeholder="Contraseña" />
                </mat-form-field>
            </div>

            <div class="form-row">
                <mat-form-field appearance="outline" class="input-field">
                    <mat-label>Nombre de la empresa</mat-label>
                    <input matInput formControlName="name" placeholder="Nombre de la empresa" />
                </mat-form-field>

                <mat-form-field appearance="outline" class="input-field">
                    <mat-label>Descripción</mat-label>
                    <input matInput formControlName="description" placeholder="Descripción" />
                </mat-form-field>
            </div>

            <div class="form-row">
                <button mat-raised-button color="primary" class="register-button" [disabled]="registerForm.invalid">
                    Registrate
                </button>
            </div>
        </form>
    </div>
</div>
